# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

.dccache

# App
node_modules/
juiceshop.sqlite
order_*.pdf
app/
!frontend/src/app
uploads/complaints/*.*
!uploads/complaints/.gitkeep
ftp/legal.md
package-lock.json
i18n/*.json
i18n/*.invalid
!frontend/src/assets/i18n/*.json
!data/static/i18n/*.json
data/chatbot/*.*
!data/chatbot/.gitkeep
/data/juiceshop.sqlite-journal

# Build
.nyc_output/
.sass-cache/
build/
cache/
dist/
logs/
vagrant/.vagrant/
*.orig
*.out
*.log
JSON
JSON.map
frontend/src/**/*.js

# IDEs
.idea/
.vscode/
out/
*.eml
*.iml
*.iws
*.swp

# Branch ghpages
assets/
!frontend/src/assets/

# Custom configuration files
config/*.yml
!config/addo.yml
!config/bodgeit.yml
!config/ctf.yml
!config/fbctf.yml
!config/default.yml
!config/juicebox.yml
!config/quiet.yml
!config/test.yml
!config/7ms.yml
!config/mozilla.yml
!config/unsafe.yml
!config/tutorial.yml
!config/oss.yml